.service_div{
    display: flex;
    /* padding: 20px; */
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 350px !important;
}
.card > img {
    height: 100px;
    width: 100px;
}
.card > h4 {
    font-size: 20px;
    margin:20px;
    font-weight: 500;
    width: 234px;
}
.card > p {
    font-size: 16px;
    text-align: center;
    color: hsl(240deg 7.71% 27.34%);
}

@media screen and (max-width : 620px)  {
    .service_div{
        flex-direction: column;
        padding: 30px;
    }
    .card{
        width: 100% !important;
        padding: 0;
    }
    .card > p{
      margin-bottom: 0;
    }
    .card:nth-child(1){
     
        margin-bottom: 50px;
    }
    .card:nth-child(2){
        margin-bottom: 50px;
    }
}