.swiper-pagination {
    display: none;
}

.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 14px !important;
}
 .swiper-button-prev:after, 
.swiper-rtl .swiper-button-prev:after {
    content: 'prev';
    font-size: 14px !important;
}

.swiper-button-next, .swiper-button-prev, 
.swiper-rtl .swiper-button-prev {
    background: #999999 !important;
    color: white !important;
    height: 30px !important;
    border-radius: 50% !important;
}