.prod{
    width: 45%;
}
.main_div{
    display: flex;
}
.card{
    background: linear-gradient(180deg, #FCB48C 0%, #FFEADF 100%);
border-radius: 5px;
height: 100%;
}
.card1 {
    /* height: 85.5vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card1 > img {
    width: 200px;
    max-height: 300px;
}
.head{
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}
.para{
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    margin: 15px 0;
}
.p2{
    margin-bottom: 5px !important;
}
.main_div2{
    display: flex;
    gap: 25px;
}
.main_div3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_div3 > img {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background: #F7F7F7;
}
.main_div3 > span {
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0;
}
.ul {
    list-style: none;
    padding: 0;
    /* display: flex; */
    justify-content: space-between;
}
.inn_ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    gap: 2%;
    /* justify-content: left; */
}
.inn_ul p {
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    width: 49%;
    margin: 4px 0;
}
.inn_ul span {
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        width: 49%;
        margin: 4px 0;
    } 

/* .ul li {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.ul li p {
    font-size: 14px;
    font-weight: 600;
}
.ul li span {
    font-size: 14px;
    font-weight: 500;
} */
.head2{
    font-size: 16px;
    color: #0E9243;
    text-align: left;
    margin: 12px 0;
}
.para2{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    margin-bottom: 0;
}
.para2 > span{
    color: #0E9243;
    background: #EAFFF3;
    padding: 5px 10px;
    font-size: 14px;
    height: 30px;
    border-radius: 5px;
}
.buy_btn{
    background: linear-gradient(30.09deg, #339EDA 12.71%, #B2E9FF 87.13%);
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 15px 0 0 0;
    padding: 10px;
    color: #fff;
}
.bdy{
    padding: 15px 25px 18px 0px !important;

}
.head_modal{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px 0 20px !important;
    border: none !important;
}

@media screen and (max-width:620px) {
 .main_div{
    flex-direction: column;
 }
 .main_div2{
    gap: 20px;
 }
 .card1{
    height: 400px !important;
 }
 .prod{
    width: 100%;
    margin-bottom: 20px;
 }
 .bdy{
    padding: 20px !important;
}
.head{
    text-align: center;
}
.home_slider2 .swiper-pagination-bullet-active {
height: 10px !important;
width: 10px !important;
}
.buy_btn{
    margin-bottom: 0;
}
}