.btm_div {
    background: #f9f9f9;
    /* padding: 10px 0; */
    display: none;
}

.btm_div ul {
padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.btm_div ul li a {
    color: #000;
    text-decoration: none;
}
.btm_div ul li {
line-height: 3;
border-bottom: 1px solid #d9d9d9;
}
.btm_div ul li:nth-child(5) {
/* line-height: 3; */
border: none;
}
.side_bn{
    display: flex;
    align-items: end;
    padding-inline: 20px;
    justify-content: end;
    position: absolute;
    text-align: right;
    right: 0;
    top: 0px;
}
.side_bn > button {
    background: none;
    border: none;
    font-size: 25px;
    transition: 0.5s ease-in-out;

}
.side_bn > button > svg {
   color: #989898;
}

/* show */
.show{
    transition: 0.5s ease-in-out;
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-top: 10px;
    /* padding-bottom: 20px; */
    border: 1px solid #d9d9d9;
    scroll-behavior: smooth;
}